* {
  margin: 0;
}

:root {
  --primary-color: dodgerblue;
  --light-color: whitesmoke;
  --neutral-color: rgb(222, 221, 221);
  --icon: aquamarine;
  --accent-color: goldenrod;
}

/* .content > div {
    border: 1px solid black;
} */
.browser {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 4fr;
}

.sidebar {
  background-color: var(--primary-color);
  grid-row: 1 / span 2;
  padding: 1.5rem;
  display: grid;
  grid-template-columns: 3rem 5fr;
  grid-template-rows: repeat(20, 1fr);
  color: var(--light-color);
  gap: 0.5rem 1rem;
  font-size: 1.25em;
  font-weight: bolder;
}

.header {
  background-color: var(--light-color);
  padding: 1.5rem 2rem;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 1rem;
}

.content {
  background-color: var(--neutral-color);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.icon {
  /* background-color: var(--icon); */
  /* justify-self: center; */
  justify-self: end;
  align-self: center;
  height: 30px;
  width: 30px;
  background-size: cover;
  background-position: center;
}

.dash {
  align-self: center;
}

.main {
  grid-row: span 2;
  font-size: 1.4em;
  height: 40px;
  width: 40px;
}

.blank {
  grid-column: span 2;
}

.searchBar {
  grid-column: span 6;
  display: flex;
  align-items: center;
}

.searchBar > div {
  height: 60%;
  width: 98%;
  margin: 3% 1%;
  background-color: var(--neutral-color);
  border-radius: 2rem;
}

.username {
  grid-column: span 2;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-left: 1rem;
  font-size: 18px;
  font-weight: bolder;
}

.userIconLarge {
  grid-column: span 2;
  background-color: var(--icon);
  height: 65px;
  width: 65px;
  border-radius: 50%;
}

.welcomeUser {
  grid-column: span 4;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.buttons {
  grid-column: 8 / span 5;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
button {
  height: 60%;
  width: 6rem;
  border-radius: 2rem;
  border: none;
  background-color: var(--primary-color);
  color: var(--light-color);
}

.message {
  font-weight: bolder;
}

.userTag {
  font-size: 20px;
  font-weight: bolder;
}

.userIcon {
  border-radius: 50%;
  height: 50px;
  width: 50px;
}

.projects {
  grid-column: 1 / span 3;
  grid-row: 1 / span 2;
}

.announce,
.trend,
.projects {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: max-content;
  gap: 1rem;
  padding: 1rem;
}

.anContent,
.trendContent {
  background-color: var(--light-color);
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.trendContent {
  gap: 0;
  align-items: start;
  padding: 0.5rem 0;
}

.projectContent {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.project {
  height: 9rem;
  background-color: var(--light-color);
  border-left: 5px solid var(--accent-color);
  border-radius: 0.5rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.projectIcons {
  display: flex;
  justify-content: end;
  gap: 1.5rem;
  justify-self: end;
}

.text > h4 {
  margin-bottom: 0.5rem;
  font-size: 20px;
}

.article {
  padding: 0 1rem;
}

.divider {
  height: 1px;
  width: 80%;
  background-color: var(--neutral-color);
}
.tag {
  display: grid;
  padding: 0.5rem 1rem;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 0.5rem;
}

.tag > .userIcon {
  margin: 0rem 0.5rem;
  grid-column: 1 / span 1;
  grid-row: 1 / span 2;
  justify-self: center;
}

.tag > .at {
  grid-column: span 2;
  display: flex;
  align-items: end;
  font-weight: bolder;
}

.trendMessage {
  grid-column: span 2;
}

h3 {
  font-size: 22px;
}

h4 {
  margin-bottom: 0.25rem;
}

.dashboard {
  background-image: url("dashbaord/view-dashboard.png");
}
.home {
  background-image: url("dashbaord/home.png");
}
.profile {
  background-image: url("dashbaord/face-man-profile.png");
}
.messages {
  background-image: url("dashbaord/message-reply.png");
}
.history {
  background-image: url("dashbaord/history.png");
}
.tasks {
  background-image: url("dashbaord/file-outline.png");
}
.communities {
  background-image: url("dashbaord/account-group-outline.png");
}
.settings {
  background-image: url("dashbaord/cog-outline.png");
}
.support {
  background-image: url("dashbaord/help-circle-outline.png");
}
.privacy {
  background-image: url("dashbaord/lock-outline.png");
}
.searchIcon {
  background-image: url("dashbaord/magnify.png");
}
.notification {
  grid-column: 9 / span 1;
  background-image: url("dashbaord/bell-ring-outline.png");
}
.icon1 {
  background-image: url("dashbaord/thumbs-up-down-outline.png");
}
.icon2 {
  background-image: url("dashbaord/eye-refresh-outline.png");
}
.icon3 {
  background-image: url("dashbaord/share-variant-outline.png");
}
.lime {
  background-image: url("dashbaord/lime.png");
}
.bruton {
  background-image: url("dashbaord/billiard.png");
}
.pine {
  background-image: url("dashbaord/pineapple.png");
}
.buffalo {
  background-image: url("dashbaord/man.png");
}
