* {
    margin: 0;
}

:root{
    --primary-color: blue;
    --light-color: whitesmoke;
    --neutral-color: #ccc;
}

.header > div {
    border: 1px solid black;
}
.browser {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
}

.sidebar {
    background-color: var(--primary-color);
    grid-row: 1 / span 2;
    padding: 1.5rem;
    display: grid;
    grid-template-columns: 3rem 5fr;
    grid-template-rows: repeat(20, 1fr);
    color: var(--light-color);
    gap: .5rem 1.5rem;
    font-size: 1.25em;
    font-weight: bolder;
}

.header {
    background-color: var(--light-color);
    padding: 1.5rem 2rem;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.content {
    background-color: var(--neutral-color);
}

.icon {
    background-color: aquamarine;
}

.dash {
    align-self: center;
}

.main {
    grid-row: span 2;
    font-size: 1.5em;
}

.blank {
    grid-column: span 2;
}

.searchBar {
    grid-column: span 6;
}

.searchBar > div {
    height: 50%;
    width: 98%;
    margin: 3% 1%;
    background-color: var(--neutral-color);
    border-radius: 2rem;
}

.notification {
    grid-column: 9 / span 1;
}

.username {
    grid-column: span 2;
}

.userIconLarge {
    grid-column: span 2;
}

.welcomeUser {
    grid-column: span 3;
}

.buttons {
    grid-column: 8 / span 5;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
button {
    height: 60%;
    width: 6rem;
    border-radius: 2rem;
    border: none;
    background-color: var(--primary-color);
    color: var(--light-color);
}