* {
    margin: 0;
}
/* .sidebar > div {
    border: 1px solid black;
} */
.browser {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
}

.sidebar {
    background-color: blue;
    grid-row: 1 / span 2;
    padding: 1.5rem;
    display: grid;
    grid-template-columns: 3rem 5fr;
    grid-template-rows: repeat(20, 1fr);
    color: whitesmoke;
    gap: .5rem 1.5rem;
    font-size: 1.25em;
    font-weight: bolder;
}

.header {
    background-color: #ccc;
}

.content {
    background-color: whitesmoke;
}

.icon {
    background-color: aquamarine;
}

.dash {
    align-self: center;
}

.main {
    grid-row: span 2;
    font-size: 1.5em;
}

.blank {
    grid-column: span 2;
}